:root{
   --violet: #5964E0;
   --light-violet: #939BF4;
   --very-dark-blue: #19202D;
   --midnight: #121721;
   --white: #fFF;
   --light-gray: #F4F6F8;
   --gray: #9DAEC2;
   --dark-grey: #6E8098;
   --light-violet: #e7eef9;
   --light-black: #3a506b;
   --light-violet-active: #b8c0ff;
}